#main-content{
  position: absolute;
  top: 40%;
  left: 30%;
  right:30%;
  z-index: 10;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}}
html{
  overflow-y: auto;
}

body ::-webkit-scrollbar{
  width: 0.25rem;
}

body ::-webkit-scrollbar-track{
  background: #1e1e24;
}

body ::-webkit-scrollbar-thumb{
  background: cornflowerblue;
}